    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      background: #eaf6f2;
      color: #1f2d2a;
    }
    header {
      background: #2e8b57;
      color: white;
      padding: 1.5rem;
      text-align: center;
    }
    section {
      padding: 1.5rem;
      max-width: 1100px;
      margin: auto;
    }
    h2 {
      color: #2e8b57;
    }
    .card {
      display: none;
	  max-width: 900px;
      background: white;
      border-radius: 12px;
      padding: 1rem;
      margin: 1rem 0;
      box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    }
    footer {
      text-align: center;
      padding: 1rem;
      background: #cfe9df;
      font-size: 0.9rem;
    }
	#click {
      color: #2e8b57;
      text-align: center;
	}
	#buttons {
      display: flex;
	  align-items: center;
      border-radius: 0px 0px 6px 6px;
      border-color: #eaf6f2;
      background-color:#2e8b57;
	} 
    #buttons button {
      border-radius: 6px;
      background: white;
      padding: 0.2rem;
      border-color: #2e8b57;
      margin: 1rem 0;
      color: black;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }
